<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>

    <div class="login-container">
        <h2>Register</h2>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="input-field") }}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="input-field") }}
            </div>

            <button type="submit" class="login-button">{{ form.submit.label }}</button>
        </form>

        {% for message in get_flashed_messages() %}
        <p class="error-message">{{ message }}</p>
        {% endfor %}

        <p class="register-link">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        <p>Back to homepage <a href="https://generateimage.xyz/" class="nav-link">Homepage</a></p>
    </div>

</body>
</html>
